/* .colors{
    color: ;
} */

.colors{
    background: #F0EBF7;
    background: #F0F8FF;
    background: lightblue;
    background: thistle;
    color: gray;
}

.colors1{
    background-color: #666666;
}
.colors2{
    background-color: #E5E5E5;
}
.colors3{
    background-color: darkgray;
}
.colors4{
    background-color: gray;
}

.colors4{
    background-color: #171717;
}

/* ! information */