

.-sub-menu- svg{
    width: 20px;
    height: 20px;
    /* margin: 0px 12px 0 4px 0; */
}

#navbar {
    position: fixed;
    top: 0;
    display: block;
    transition: top 0.3s;
}



header{
    position: var(--position--value--01);
    align-items: var(--align--items--value--01); 
    display: var(--display--value--01);

    /* margin: var(--zero--00); */
    /* padding: var(--zero--00); */
    margin: var(--header--margin);
    padding: var(--header--padding);

    width: var(--header--width);
    height: var(--header--height);
}
header:hover {
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
}
header .__content{
    align-items: var(--align--items--value--02);
    margin: var(--header--margin);
    margin: 10px 0 20px 0;
    /* padding: 5px 0 5px 0; */
    display: var(--display--value--01);

    width: auto;
    height: 50px;
}
/* .navigation-bar{
    margin: var(--header--margin);
    padding: var(--header--margin);
    display: var(--display--value--01);

    align-items: var(--align--items--value--02);
} */



.logo__icon{
    height: var(--class--logo--height);
    align-items: var(--align--items--value--01); 
    padding: 0px 10px 0px 0px;
}


header a{
    color: var(--class--logo--disable--color);
}
.logo{
    display: flex;
    order: 1;
    order: var(--class--logo--order);
    font-family: var(--class--logo--font--family);
    font-size: var(--class--logo--font--size);

    margin: var(--class--logo--margin);
    border-radius: var(--class--logo--border--radius);
    padding: var(--class--logo--padding);

    width: var(--class--logo--width);
    height: var(--class--logo--height);
    color: var(--class--logo--disable--color);
}
.logo:hover {
    background-color: var(--class--logo--hover--background--color);
    /* background-color: gray; */
    background-color: #E5E5E5;
}
.logo:hover .kaspi-text{
    color: var(--class--logo--left--hover--enable--color);
}
.logo:hover .net-text{
    color: var(--class--logo--right--hover--enable--color);
}



.web-settings{
    /* order: 3; */
    display: var(--display--value--01);
    align-items: center;
}




.web-appearance{
    margin: 0 15px 0 15px;
    padding: 0;
}
.dark-mode-btn {
    order: 2;
    position: relative;
    display: flex;
    justify-content: space-between;

    width: 51px;
    height: 26px;
    padding: 5px;

    border: darkgray solid;
    border-radius: 50px;
    /* background-color: darkgray; */
    background-color: #ffffff60;

}
.dark-mode-btn::before{
    content: "";

    position: absolute;
    top: 1px;
    left: 1px;

    display: block;
    width: 24px;
    height: 24px;

    border-radius: 50%;

    background-color: thistle;
    /* background-color: lightblue; */
    


    transition: left 0.2s ease-in ;
}
.dark-mode-btn--active::before{
    left: 26px;
}
.dark-mode-btn__icon {
    position: relative;
    z-index: 9;
}






.web-language{
    align-items: var(--align--items--value--02);

    order: 3;
    background-color: #fff;

    display: var(--display--value--01);
    font-size: 25px;
    font-weight: 300;

    width: auto;
    height: 25px;
    height: auto;

    padding: 5px 10px 10px 10px;
}
.web-language svg{
    align-items: var(--align--items--value--02);
}
svg{
    align-items: var(--align--items--value--02);

}
.web-language__icon,
.web-language{
    display: var(--display--value--01);

    align-items: var(--align--items--value--02);


    fill: var(--class--web--language--disable--color);
    color: var(--class--web--language--disable--color);
}
.web-settings a:hover svg path,
.web-language:hover{
    fill: var(--class--web--language--hover--enable--color);
    color: var(--class--web--language--hover--enable--color);
}
header:hover .web-language,
header:hover .web-language__icon {
    color: darkgrey;
}
.web-language:hover {
    color: gray;
}
.web-language:hover {
    font-weight: 400;
    border-radius: 4px;
    background-color: var(--class--logo--hover--background--color);
}
.web-language__icon{

    height: 40px;
}
.web-language__icon,
.web-language__icon svg{
    margin: var(--zero--00);
    padding: var(--zero--00);
}