@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */


@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@600;700&display=swap');



:root{
    --display--value--01: flex;
    --position--value--01: fixed;
    --align--items--value--01: flex-start;
    --align--items--value--02: center;
    --align--items--value--03: flex-end;

    --padding--value--01: 0 15%;


    --height--value--02: 400px;



    --font--style--normal: 400;



    --body--font--family: 'Roboto', sans-serif;
    --body--font--size: 40px;

    
    --header--margin: var(--zero--00);
    --header--padding: 5px 15%;
    --header--width: var(--100--percent);
    --header--height: 70px;



    --class--logo--order: 1;
    --class--logo--font--family: 'Unbounded', cursive;

    --class--logo--font--size: 26px;

    --class--logo--margin: 0 15px 0 0;
    --class--logo--border--radius: 10px;
    --class--logo--padding: 8px 8px 8px 8px;

    --class--logo--width: 152px;


    /* --class--logo--width: 114.86px; */

    /* --class--logo--width: auto; */

    --class--logo--height: 28px;


    --class--logo--height: 26px;

    /* --class--logo--height: auto; */




    --heading--font--size: 38px;
    --h1--font--size: 50px;
    --h2--font--size: 48px;
    --h3--font--size: 45px;
    --h4--font--size: 43px;
    --h5--font--size: 40px;
    --h6--font--size: 38px;

    --light__mode: ;
    --dark__mode: ;

    --footer--margin: var(--zero--00);
    --footer--padding: var(--padding--value--01);
    --footer--width: var(--100--percent);
    --footer--height: var(--height--value--02);

}
h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--heading--color);
    font-size: var(--heading--font--size);
}
p{
    color: var(--paragraph--color);
}



h1{
    font-size: var(--h1--font--size);
}
h2{
    font-size: var(--h2--font--size);
}
h3{
    font-size: var(--h3--font--size);
}
h4{
    font-size: var(--h4--font--size);
}
h5{
    font-size: var(--h5--font--size);
}
h6{
    font-size: var(--h6--font--size);



}